# gRPC static libs + shared runtime DLLs
**/grpc/lib/*.lib filter=lfs diff=lfs merge=lfs -text
**/grpc/bin/*.dll filter=lfs diff=lfs merge=lfs -text

# libcef shared runtime（各 arch）
**/libcef/Release/*.dll filter=lfs diff=lfs merge=lfs -text
**/libcef/Release/*.bin filter=lfs diff=lfs merge=lfs -text
**/libcef/Release/*.lib filter=lfs diff=lfs merge=lfs -text
**/libcef/lib/*.lib filter=lfs diff=lfs merge=lfs -text
**/libcef/Resources/* filter=lfs diff=lfs merge=lfs -text
**/libcef/locales/*.pak filter=lfs diff=lfs merge=lfs -text
